.navbar {
    width: 100vw; 
    height: 10rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--base-colour-white);
    background-color: var(--navbar-colour);
    position: relative;
    top: 0;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    position: absolute;
    bottom: 0;
    margin: 1rem;
}

.nav-list > li {
    padding: 10px 1rem;
    background-color: transparent;
    border-radius: 1.5rem;
}

.nav-list > li:hover {
    background-color: var(--item-hover);
}

.nav-list > li:active {
    background-color: var(--item-active);
}

.nav-list > li > a {
    color: var(--base-colour-white);
    font-weight: 800;
    font-size: 14px;
}

.logo {
    height: 85%;
}