.navbar {
    width: 100vw; 
    height: var(--navbar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--base-colour-white);
    background-color: var(--base-colour-dark);
    position: relative;
    top: 0;
    z-index: 10;
}

.navbar__logo {
    height: 120px;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    position: absolute;
    bottom: 0;
    margin: 1rem;
}

.navbar__item {
    padding: 10px 1rem;
    background-color: transparent;
    border-radius: 1.5rem;
}

.navbar__item:hover {
    background-color: var(--item-hover);
}

.navbar__item:active {
    background-color: var(--item-active);
}

.navbar__link {
    color: var(--base-colour-white);
    font-weight: 800;
    font-size: 14px;
}

@media (max-width: 768px) {
.navbar {
    height: var(--navbar-height-mb);
}

}