.team-page {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
}

.team-page > members {
  display: flex;
  flex-direction: column;
}

.compete-page {
  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  min-height: 100vh;
}

.compete-page > .competing-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}